body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main aside"
        "footer footer footer"
    ;
}

header {
    z-index: 2;
}

.showNav {
    display: none;
}

nav {
    background-color: yellow;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

nav > ul > li {
    position: relative;
    width: 100%;
}

nav ul ul {
    position: absolute;
    display: block;
    background-color: green;
    width: 100%;
    padding: 0;
    transform: translate(0, -100%);
    z-index: -1;
    transition: transform 0.5s ease-in;
}

nav > ul > li:hover ul {
    transform: translate(0,0);
    z-index: 1;
}

nav ul ul li:hover {
    background-color: red;
}